.text-gold{
    color: var(--bs-primary);
}

.btn-gold {
    background-color: #F6DA2F;
    border-color: #F6DA2F;
    color: #fff;
}

.btn-gold:hover,
.btn-gold:focus {
    background-color:  rgba(255, 177, 51, 0.693);
    border-color:  rgba(255, 177, 51, 0.693);
}

.btn-gold:disabled,
.btn-gold.disabled {
    background-color: #F6DA2F;
    border-color: #F6DA2F;
    color: #fff;
    opacity: 0.6; /* Optional: gives a visual cue that it's disabled */
    pointer-events: none;
}